
<div class="container">
  <div class="row">
    <h1>Main</h1>
    <p><%= link_to 'Course', courses_path %></p>
    <p><%= link_to 'Recipe', recipes_path %></p>
    <p><%= link_to 'Ingredients', recipes_path %></p>
  </div>
</div>
